.search-container {
  width: 50%;
  height: 30%;
  /*  background-color: grey; */
  display: flex;
  flex-direction: column;
  .search-input {
    /*   text-transform: uppercase; */
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-indent: 1rem;
    border: 2px solid grey;
    /* height: 70px; */
    font-size: 1.5rem;
    background-color: transparent;
    color: grey;
    border-radius: 3px;
    @include media("<=tablet") {
      font-size: 1rem;
    }
  }
  .error-text {
    margin-top: 0rem;
    font-size: 1rem;
    color: grey;
  }
  .search-button-disabled {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    background-color: lightgrey;
    color: white;
    border-radius: 3px;
  }
  .search-button {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    background-color: grey;
    color: white;
    border-radius: 3px;
    &:hover a {
      color: grey;
      background-color: darkgrey;
    }

    @include media("<=tablet") {
      font-size: 1rem;
    }
    /*   a {
      text-decoration: none;
      color: white;
      &:hover {
        color: grey;
      }
    } */
  }
}
